body {
font-family: Cabin;
}

                    /* ------------ Header ------------ */

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-logo-cart-items {
    display: flex;
    justify-content: space-between;
    background: #6D91DC;
    padding: 16px 52px;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper span {
    margin-left: 8px;
}

.header-logo {
    justify-content: flex-start;
}

.header-logo-name {
    color: #F8FDFE;
    font-family: Rochester;
    font-size: 28px;
    font-weight: 400;
}

.header-cart {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-cart span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-cart button {
    height: 40px;
    background-color: #10BBD5;
    border: none;
    padding: 0;
    background: #6D91DC;
}

.cart-button-container { 
    position: relative;
}

.amount-items-cart {
    position: absolute;
    top: 8.67px;
    right: 8.58px;
    padding: 3.33px 3.42px;
    color: #F8FDFE;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
}

.cart-button-container span {
    color: #F8FDFE;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px; 
}

.menu-content-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    z-index: 99;
    background-color: white;
}

.menu-content-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.menu-content-items {
    display: flex;
    gap: 40px;
}

                    /* ------------ Main ------------ */

main {
    background: #EEEEEF; 
}

.main-section-container {
    margin: 104px 52px 0;
}

.main-section-title {
    margin-bottom: 24px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600; 
    line-height: 40px;
    padding: 36px 0 23px;
    border-bottom: 1px solid #A8A8A8; 
    
}

.form-order {
    display: flex;
    flex-direction: column;
    margin: 0 110px;
    gap: 32px;
    height: 1143px;
    flex-wrap: wrap;
    column-gap: 130px;
}

.client-contacts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.client-section-title {
    color: #1F1F1F;
    font-size: 20px;  
    font-weight: 700;
    line-height: 24px; 
}

.client-contacts-container label {
    font-size: 16px;
    font-weight: 400;
}

.client-contacts-container input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

::placeholder {
    font-family: Cabin;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.label-input-container textarea {
     padding: 10px;
     border-radius: 4px;
     border: 1px solid #8E8E8E;
     background: #F5F5F5;
}

.text-area {
    resize: none;
}

.delivery-date-label {
    display: flex;
    gap: 19px;
}

.delivery-date-label input {
    pad: 2px 8px;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
    width: 120px;
    box-sizing: border-box;
    background: #EEEEEF;
}

.radio-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.client-section-subtitle {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio-container input {
    margin-left: 0;
}

.your-order-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    width: fit-content;
    border-radius: 4px;
    background: #F5F5F5;
}

.order-section {
    display: flex;
    gap: 24px;
}

.order-section img {
    width: 120px;
    height: 120px;
}

.oreder-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;
    width: 192px;
}

.order-subitem ,.order-counter {
    color: #8E8E8E;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.order-counter {
    color:#1F1F1F;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    width: 53px;
    text-align: center;
    background-color: white;
}

.order-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    border-top: 1px solid #8E8E8E;
}

.total-order {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.data-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data-buttons-container label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.buttons-container {
    display: flex;
    gap: 16px;
}

.button {
    flex-grow: 1;
    border-radius: 4px;
    background: #3D76BA;
    padding: 8px 24px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #3D76BA;
}

.reset-button {
    color: #1F1F1F;
    background-color: #DEDEDE;
    border: 1px solid #DEDEDE;
}

                    /* ------------ Footer ------------ */

.footer {
    display: flex;
    padding: 32px 52px;
    background-color: #6D91DC;
    justify-content: space-between;
}

.footer-text {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}